<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;  background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-warning opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-xl-4 order-xl-1">
          <h1 class="display-2 text-white">{{member.nom}}</h1>
          <p class="text-white mt-0 mb-5">Profile de {{member.nom}} {{member.prenom}} née le {{member.dateNaissance}} , son numéro de telephone : {{member.numPhone}}</p>
          
        </div>
        <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="javascript:void(0)">
                      <img src="assets/img/theme/man.png" class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                  
                  <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      <div>
                        <span class="heading">xxxx</span>
                        <span class="description">Equipe</span>
                      </div>
                      <div>
                        <span class="heading">xxx</span>
                        <span class="description">Incidents</span>
                      </div>
                      <div>
                        <span class="heading">xxxx</span>
                        <span class="description">xxxx</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <h3>
                    {{member.nom}} {{member.prenom}} <span class="font-weight-light">, xxx</span>
                  </h3>
                  
                </div>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </div>
  <div class="container-fluid mt--9">
    <div class="row">
      <span></span>
    </div>
  </div>
  